body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #010101;
  color: #fff;
}

.album {
  max-width: 480px;
  margin: auto;
}

.album-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* STORIES */
.stories {
  display: flex;
  gap: 20px;
  padding: 14px;
  overflow-x: auto;
}

.stories::-webkit-scrollbar {
  display: none;
}

.story {
  min-width: 80px;
  text-align: center;
  font-size: 12px;
}

.story img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ff3d00;
}

.story span {
  display: block;
  margin-top: 6px;
}

/* video */
/* ===== VIDEO MODAL ===== */
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
}

.video-modal video {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  cursor: auto; /* video ustida pointer bo'lmasligi uchun */
}



/* ===== FULLSCREEN GROUP POST ===== */

.fullscreen-post {
    margin-top: 20px;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
  margin-bottom: 0px;
}

.fullscreen-scroll {
  display: flex;
  /* height: 50%; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
}

.fullscreen-scroll::-webkit-scrollbar {
  display: none;
}

.fullscreen-slide {
  position: relative;
  min-width: 100%;
  /* height: 100%; */
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: slideUp 0.3s ease-in-out;
}

.fullscreen-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-attachment: fixed;
  background-size: cover;
}
.group-title{
  padding: 0px 10px;
  /* font-family: serif; */
  font-size: 20px;
}

/* ===== TAGIDAN CHIQIB KELISH ===== */
@keyframes slideUp {
  from {
    transform: translateY(40px) scale(0.98);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* ===== COUNTER OVERLAY ===== */
.counter {
  position: absolute;
  top: 14px;
  right: 14px;

  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  padding: 6px 10px;
  border-radius: 20px;
  font-size: 13px;
}

